.container{
     width: 500px;
     height: 450px;
     border-style: solid;
     border-width: 5px;
     position: absolute;
     margin-inline-start: 400px;
     font-family: 'Courier New', Courier, monospace;
}
.form-group{
    margin: 15px;
}
.Box{
    border-style: solid;
    border-width: 5px;
    height: 150px;
    width: 150px;
    left: 80px;
    bottom: 240px;
    margin-inline-start: 200px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    text-transform: 25px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    margin: 5px;
    position: absolute;
    text-indent: 10px;
    font-size: 25px;
    left: 200px;
}